.git
.vscode
.idea
node_modules
coverage
*Dockerfile*
docker-compose*
.gitignore
.eslintrc.js
jest.config.js
tsconfig*
*.md
LICENSE

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/docs
